GEMINI_API_KEY=your_server_only_gemini_key
FIREBASE_SERVICE_ACCOUNT_BASE64=base64_encoded_service_account_json
RATE_LIMIT_SECRET=a_long_random_server_only_value
X402_FACILITATOR_URL=https://facilitator.payai.network
